<a href="https://colab.research.google.com/github/sachpreet71/TITANIC_SURVIVORS/blob/main/TITANIC_SURVIVORS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TITANIC_SURVIVORS** 
Performed by Sachpreet Singh

> ShapeAI- PYTHON AND DATA ANALTYICS

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('/content/train (1).csv') # pandas will read the data in dataset.
df.head                                  # head will print the whole data in dataset.

<bound method NDFrame.head of      PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]>

In [ ]:
df.shape                                   #print  the shape of data (i.e all the columns and rows)

(891, 12)

In [ ]:
df.isnull().sum()                          # print the null values in the dataset.

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

**Arranging the data according to our need**

In [ ]:
x=df.isnull().sum()
drop_col= x[x>35/100*df.shape[0]]            # dropping that table which is have null value  greater than 35%.
drop_col

Cabin    687
dtype: int64

In [ ]:
drop_col.index                               # cabin column is dropped

Index(['Cabin'], dtype='object')

In [ ]:
df.drop(drop_col.index, axis=1, inplace= True)   
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [ ]:
df.fillna(df.mean(), inplace= True)           # fillna will fill the value with mean of it.
x

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Embarked'].describe()                      # column embarked is described here; what all values it holds

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [ ]:
df['Embarked'].fillna('S' , inplace =True)     # filling embarked with 'S' at the place where there is no entry.
x

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df.corr()                                     # defining correlation among the cells of the table

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.033207 -0.069809 -0.331339  ... -0.232625 -0.179191  0.091566
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

In [ ]:
df['familysize']=df['SibSp']+df['Parch']     # creating a new cell by adding previous cells value to it
df.drop(['SibSp','Parch'],axis=1, inplace =True) # dropping both other cells 
df.corr                                      # checking for correlation again

<bound method DataFrame.corr of      PassengerId  Survived  Pclass  ...     Fare Embarked  familysize
0              1         0       3  ...   7.2500        S           1
1              2         1       1  ...  71.2833        C           1
2              3         1       3  ...   7.9250        S           0
3              4         1       1  ...  53.1000        S           1
4              5         0       3  ...   8.0500        S           0
..           ...       ...     ...  ...      ...      ...         ...
886          887         0       2  ...  13.0000        S           0
887          888         1       1  ...  30.0000        S           0
888          889         0       3  ...  23.4500        S           3
889          890         1       1  ...  30.0000        C           0
890          891         0       3  ...   7.7500        Q           0

[891 rows x 10 columns]>

In [ ]:
df['alone']=[0 if df['familysize'][i]>0 else 1 for i in df.index] # creating a new cell 'alone' and creating a bollean type and it will tell about familysize
df.head()

   PassengerId  Survived  Pclass  ... Embarked familysize  alone
0            1         0       3  ...        S          1      0
1            2         1       1  ...        C          1      0
2            3         1       3  ...        S          0      1
3            4         1       1  ...        S          1      0
4            5         0       3  ...        S          0      1

[5 rows x 11 columns]

In [ ]:
df.groupby(['alone'])['Survived'].mean()     # 1st conclusion- passengers with familyisize have high rate of survivors.

alone
0    0.505650
1    0.303538
Name: Survived, dtype: float64

In [ ]:
df[['alone', 'Fare']].corr()                 # 2nd conclusion - passengers with high class might have high rate of survivors and this may be followed as saving criteria too.

          alone      Fare
alone  1.000000 -0.271832
Fare  -0.271832  1.000000

In [ ]:
df['Sex']=[0 if df['Sex'][i]=='male' else 1 for i in df.index]
df.groupby(['Sex'])['Survived'].mean()      # 3rd conclusion - female passengers were prioritized over men.

Sex
0    0.188908
1    0.742038
Name: Survived, dtype: float64

In [ ]:
df.groupby(['Embarked'])['Survived'].mean() # 4th concluison - passengers who boarded ship from cherbourg have high rate of surviving.

Embarked
C    0.553571
Q    0.389610
S    0.339009
Name: Survived, dtype: float64